# Environment Files
.env
.env.*.local

# Build Artifacts
node_modules/
/.pnp
.pnp.js
yarn.lock # Add this if using Yarn
/client/build
/build #If used
.next # Next.js
.nuxt # Nuxt.js
.cache/ # Gatsby, etc.
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.vuepress/dist
.temp
.cache
*.tgz # npm pack output
*.mongodb # mongoDB files


# IDE and Editor Files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Dependency Management
jspm_packages/
web_modules/
.pnp.*


# Testing
/coverage


# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


# Runtime Data
pids/
*.pid
*.pid.lock
*.seed
lib-cov
coverage
*.lcov
.nyc_output
.grunt
bower_components


# Cache Files
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz


# OS-Specific Files
.DS_Store
Thumbs.db


#Other 
en_DocDocs.md
es_DocDoc.md

